<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/stylesheets/webapp.css" />
    <!--Bootstrap and css-->
    <link rel="stylesheet" href="/assets/stylesheets/mini-default.min.css" />
    <title>Blog de Viajes</title>
  </head>
  <body>
    <header class="sticky"><%- include('../partials/header') %></header>

    <body>
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1><%=publicacion.titulo%>
                  <mark class="tag">
                    <%=publicacion.votos%>
                  </mark>
                </h1>
                <a href="/detalle/<%=publicacion.id%>/votar" class="button small primary">+ 1</a>
                <br>
                <div>
                    <%-publicacion.contenido%>
                </div>
            </div>
        </div>
      </div>  
    </body>

    <footer class="fixed-bottom"><%- include('../partials/footer') %></footer>
    <script src="/javascripts/script.js"></script>
    </script>
  </body>
</html>